<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xingyuyou.xingyuyou">

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58c0f84475ca351dc300014e">
        </meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xingyuyou.xingyuyou.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106012303"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.DownLoadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UninstallAppActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity android:name=".activity.HotGameDetailActivity">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.ForgetPasswordActivity">
        </activity>
        <activity android:name=".activity.UserInfoActivity">
        </activity>
        <activity android:name=".activity.MyGiftActivity">
        </activity>
        <activity android:name=".activity.GetGamePackageActivity">
        </activity>
        <activity android:name=".activity.ManagementActivity">
        </activity>
        <activity
            android:name=".activity.PostingActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.SearchForCommActivity">
        </activity>
        <activity
            android:name=".activity.PostDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.PostClassListActivity">
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name=".service.InitializeService"
            android:exported="false">
        </service>

        <activity android:name=".activity.SelectTagActivity">
        </activity>
        <activity android:name=".activity.SortGameListActivity">
        </activity>
        <activity android:name=".activity.SelectCommTagActivity">
        </activity>
        <activity android:name=".activity.MyReplyPostActivity">
        </activity>
        <activity android:name=".activity.ExemptionActivity">
        </activity>
        <activity android:name=".activity.CollectListActivity">
        </activity>
        <activity android:name=".activity.MyMessagePostActivity">
        </activity>
        <activity android:name=".activity.MyPostListActivity">
        </activity>
        <activity android:name=".activity.PostReplyCommoActivity">
        </activity>
        <activity android:name=".activity.GameDetailActivity"/>
        <activity android:name=".activity.GameCommoActivity">
        </activity>
    </application>

</manifest>